body {
  background-color: #FFFFFF;
  color: #000000;
  font-size: 16px;
  font-family: Helvetica;
}

h1 {
  font-size: 2.5em;
  font-weight: 800;
  text-transform: capitalize;
}

h3 {
  font-size: 1.5em;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

a {
  text-decoration: none;
}

a:link { color:#FFFFFF; } /* unvisited */
a:visited { color:#A9A9A9; } /* visited */
a:hover { color:#C0C0C0; } /* mouse over */
a:active { color:#A9A9A9; } /* selected */

figcaption {
  font-style: italic;
  font-size: 75%;
}

.author {
  text-transform: uppercase;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
  font-size: 100%;
  line-height: 1.5;
}

.container {
  margin: 0 auto;
  width: 50%;
}
